/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
:root {
  --selected-color: hsl(0, 0, 57%);
  --selected-color-lightness: 57%;
  
  --multiplier: 1.45;

  --selected-color-box-shadow: hsl(0, 0%, calc(var(--multiplier) * var(--selected-color-lightness)));
}



.todo-card .form-check-input:checked {
  background-color: var(--selected-color);
  border-color: var(--selected-color);
}

.todo-card .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--selected-color-box-shadow);
  border-color: var(--selected-color);
}

.color-picker .form-check-input:focus {
  box-shadow: 0 0 0 0.25rem var(--selected-color-box-shadow);
  border-color: var(--selected-color);
}

.color-picker .form-check-input:checked[type=radio] {
  border-color: var(--selected-color);
  --bs-form-check-bg-image: none;
}

/* .todo-card .form-check-input{
  margin: 12px 0px 0 10px;
} */

.menu {
  transition: max-height 0.3s ease-in-out;
}

.menu.hidden {
  max-height: 0;
}